extends layout

block content
  h1 Kisyo Beginner Contest
  p 参加ユーザーのパフォーマンスを確認できます。
  
  #performance-wrapper
    p ユーザー名
    input(v-model='username')
    button(v-on:click='showChart') グラフ取得
    p {{ errorMessage }}    
    ul.performance-list
    //- li(v-for='perf in perfs')
    //-     | {{ perf }}
    
    .chart-wrapper
      canvas#perfs-chart




  p
    a(href="./users") ユーザー一覧
  script(src='./javascripts/index.js')