extends layout

block content
  h1 起床 Beginners Contest
  p 起床 Begginer Contestに参加しているユーザーのパフォーマンスを確認できます。
  
  #performance-graph-wrapper
    p 確認したいユーザーの名前
    input(v-model='username')
    button(v-on:click='getUserPerfs') 取得
    
    ul.performance-list
      li(v-for='perf in perfs')
        | {{ perf }}


  p
    a(href="./users") ユーザー一覧
  script(src='./javascripts/index.js')