extends layout

block content
  h1 起床 Beginners contest
  h2 ユーザー一覧
  p 起床 Begginer Contestに参加しているユーザー一覧です。

  #userlist-wrapper
    ul.userlist
      li(v-for='user in users')
        | {{ user }}

  a(href="./") トップページ
  script(src='./javascripts/users.js')
